.outerWrapper {
  width: max-content;
  button {
    cursor: pointer;
    transition: color 0.3s ease-out;
    &:hover {
      color: var(--accent);
    }
  }
}

.active {
}

@media (max-width: 1023px) {
  .outerWrapper {
    button {
      &.active {
      }
    }
  }
}
