.wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 20px;
  width: 100%;
  @media (min-width: 760px) {
    column-gap: 40px;
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
