.outerWrapper {
  padding: 1px 2px;
  // background-color: var(--surface_gray);
  h2 {
    margin-bottom: 120px;
  }
  .wrapper {
    border-radius: 24px;
    padding: 34px 0 44px;
    background-color: var(--nbs-blue);
    color: var(--light_gray);
    height: fit-content;
    min-height: calc(100dvh - 4px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      margin-bottom: 28px;
    }
  }
}

@media (max-width: 1279px) {
  .outerWrapper {
    .wrapper {
      border-radius: 18px;
    }
    p {
      padding-right: 40px;
    }
  }
  .sliderWrapper {
    margin-bottom: 28px;
  }
}

@media (max-width: 1023px) {
  .outerWrapper {
    p {
      padding-right: 0;
    }
  }
}
