.outerWrapper {
  padding: 2px 2px 1px;
  background-color: var(--nbs-blue);
  .legendLabel {
    display: none;
  }
  .hero {
    height: 50dvh;
    min-height: 320px;
    padding-bottom: 44px;
    background-color: var(--light_gray);
    display: flex;
    align-items: flex-end;
    border-radius: 24px;
  }
  .tableContainer {
    max-width: 1440px;
    margin-top: 2px;
    .tableHeader {
      display: flex;
      gap: 2px;
      width: 100%;
      position: sticky;
      top: 2px;
      z-index: 2;
      & > * {
        background-color: #f1e3e3;
        border-radius: 18px;
        flex: 1;
        padding: 15px 40px;
        font-weight: 700;
      }
    }
    .tableBody {
      margin-top: 2px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      .tableRow {
        background-color: #d4dbe4;
        border-radius: 18px;
        display: flex;
        gap: 2px;
        width: 100%;
        transition: background-color 0.3s ease-in-out;
        &:hover {
          background-color: var(--light_blue_70);
        }
        & > * {
          padding: 28px 40px;
          flex: 1;
        }
        .statusCell {
          display: inline-flex;
          align-items: center;
          gap: 6px;
          align-items: center;
          svg {
            display: flex;
            translate: 0 1px;
          }
        }
      }
    }
  }
}

@media (max-width: 1499px) {
  .outerWrapper {
    .wrapper {
      h1 {
      }
    }
  }
}

@media (max-width: 1439px) {
  .outerWrapper {
    .wrapper {
      h1 {
      }
      p {
      }
    }
  }
}

@media (max-width: 1279px) {
  .outerWrapper {
    .tableContainer {
      .tableBody {
        .tableRow {
          & > * {
            padding-right: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .outerWrapper {
    .hero {
      border-radius: 18px;
    }
    .tableContainer {
      .tableHeader {
        & > * {
          border-radius: 12px;
        }
      }
      .tableBody {
        .tableRow {
          border-radius: 12px;
        }
      }
    }
  }
}

@media (max-width: 759px) {
  .outerWrapper {
    .legendLabel {
      display: inline-block;
    }
    .tableContainer {
      max-width: 1440px;
      margin-top: 2px;
      .tableHeader {
        flex-direction: column;
        position: relative;
        top: 0;
        & > * {
          padding: 15px 20px;
        }
      }
      .tableBody {
        .tableRow {
          flex-direction: column;
          gap: 18px;
          padding: 28px 0;
          & > * {
            padding: 0 20px;
            flex: 1;
          }
        }
      }
    }
  }
}
