.wrapper {
  padding-bottom: 60px;
  position: sticky;
  top: 0;
  padding: 26px 70px;
  background-color: var(--white);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
