.wrapper {
  position: relative;
  margin: var(--s-margin, 0);
}

/* s – base */
@for $i from 1 through 12 {
  // span
  .s-#{$i} {
    grid-column: span #{$i} / span #{$i};
  }
}

@for $i from 1 through 12 {
  // col-start
  .s-col-start-#{$i} {
    grid-column-start: #{$i};
  }
}

@for $i from 1 through 12 {
  // row-start
  .s-row-start-#{$i} {
    grid-row-start: #{$i};
  }
}

/* m ≥ 760px */
@media (min-width: 760px) {
  .wrapper {
    margin: var(--m-margin, var(--s-margin, 0));
  }

  @for $i from 1 through 12 {
    .m-#{$i} {
      grid-column: span #{$i} / span #{$i};
    }
  }

  @for $i from 1 through 12 {
    .m-col-start-#{$i} {
      grid-column-start: #{$i};
    }
  }

  @for $i from 1 through 12 {
    .m-row-start-#{$i} {
      grid-row-start: #{$i};
    }
  }
}

/* l ≥ 1024px */
@media (min-width: 1024px) {
  .wrapper {
    margin: var(--l-margin, var(--m-margin, var(--s-margin, 0)));
  }

  @for $i from 1 through 12 {
    .l-#{$i} {
      grid-column: span #{$i} / span #{$i};
    }
  }

  @for $i from 1 through 12 {
    .l-col-start-#{$i} {
      grid-column-start: #{$i};
    }
  }

  @for $i from 1 through 12 {
    .l-row-start-#{$i} {
      grid-row-start: #{$i};
    }
  }
}

/* xl ≥ 1280px */
@media (min-width: 1280px) {
  .wrapper {
    margin: var(
      --xl-margin,
      var(--l-margin, var(--m-margin, var(--s-margin, 0)))
    );
  }

  @for $i from 1 through 12 {
    .xl-#{$i} {
      grid-column: span #{$i} / span #{$i};
    }
  }

  @for $i from 1 through 12 {
    .xl-col-start-#{$i} {
      grid-column-start: #{$i};
    }
  }

  @for $i from 1 through 12 {
    .xl-row-start-#{$i} {
      grid-row-start: #{$i};
    }
  }
}

/* xxl ≥ 1500px */
@media (min-width: 1500px) {
  .wrapper {
    margin: var(
      --xxl-margin,
      var(--xl-margin, var(--l-margin, var(--m-margin, var(--s-margin, 0))))
    );
  }

  @for $i from 1 through 12 {
    .xxl-#{$i} {
      grid-column: span #{$i} / span #{$i};
    }
  }

  @for $i from 1 through 12 {
    .xxl-col-start-#{$i} {
      grid-column-start: #{$i};
    }
  }

  @for $i from 1 through 12 {
    .xxl-row-start-#{$i} {
      grid-row-start: #{$i};
    }
  }
}

/* xxxl ≥ 1920px */
@media (min-width: 1920px) {
  .wrapper {
    margin: var(
      --xxxl-margin,
      var(
        --xxl-margin,
        var(--xl-margin, var(--l-margin, var(--m-margin, var(--s-margin, 0))))
      )
    );
  }

  @for $i from 1 through 12 {
    .xxxl-#{$i} {
      grid-column: span #{$i} / span #{$i};
    }
  }

  @for $i from 1 through 12 {
    .xxxl-col-start-#{$i} {
      grid-column-start: #{$i};
    }
  }

  @for $i from 1 through 12 {
    .xxxl-row-start-#{$i} {
      grid-row-start: #{$i};
    }
  }
}
